/* @font-face {
    font-family: 'Mundial Hair Italic';
    src: url('../fonts/Fontspring-DEMO-1-mundial-hair-italic-tty.otf');
}
@font-face {
    font-family: 'Mundial Hair';
    src: url('../fonts/Fontspring-DEMO-1-mundial-hair-tty.otf');
}
@font-face {
    font-family: 'Mundial Thin Italic';
    src: url('../fonts/Fontspring-DEMO-2-mundial-thin-italic-tty.otf');
}
@font-face {
    font-family: 'Mundial Light Italic';
    src: url('../fonts/Fontspring-DEMO-3-mundial-light-italic-tty.otf');
}
@font-face {
    font-family: 'Mundial Light';
    src: url('../fonts/Fontspring-DEMO-3-mundial-light-tty.otf');
}
@font-face {
    font-family: 'Mundial Regular Italic';
    src: url('../fonts/Fontspring-DEMO-4-mundial-regular-italic-tty.otf');
} */
@font-face {
    font-family: 'Mundial Regular';
    src: url('../fonts/Fontspring-DEMO-4-mundial-regular-tty.otf');
}

@font-face {
    font-family: 'Mundial Thin';
    src: url('../fonts/Fontspring-DEMO-2-mundial-thin-tty.otf');
}
/* @font-face {
    font-family: 'Mundial Demibold Italic';
    src: url('../fonts/Fontspring-DEMO-5-mundial-demibold-italic-tty.otf');
}
@font-face {
    font-family: 'Mundial Demibold';
    src: url('../fonts/Fontspring-DEMO-5-mundial-demibold-tty.otf');
}
@font-face {
    font-family: 'Mundial Bold Italic';
    src: url('../fonts/Fontspring-DEMO-6-mundial-bold-italic-tty.otf');
}
@font-face {
    font-family: 'Mundial Bold';
    src: url('../fonts/Fontspring-DEMO-6-mundial-bold-tty.otf');
}
@font-face {
    font-family: 'Mundial Black Italic';
    src: url('../fonts/Fontspring-DEMO-7-mundial-black-italic-tty.otf');
}
@font-face {
    font-family: 'Mundial Black';
    src: url('../fonts/Fontspring-DEMO-7-mundial-black-tty.otf');
}
@font-face {
    font-family: 'Mundial Demibold';
    src: url('../fonts/mundial-demibold.otf');
} */



.Heading { font-family: 'Mundial Regular'; }