body {
    background: #F7F7F7;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #313131;
}

.outer-app-container {
    margin: 0;
    padding: 0;
    height: 100%;
}



.inner-app-container {
    margin: 0;
    padding: 0;
    height: 100%;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.section-no-padding-content {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.section-padded-content {
    box-sizing: border-box;
    margin: 0;
    padding: 115px 48px 48px 48px;
    width: 100vw;
    height: 100vh;
}

.section-padded-content-relative-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plus-icon {
    cursor: pointer;
    transition: transform .2s;
}

.plus-icon:hover {
    transform: scale(1.4);
}

.h1-m {
    font-family: 'Mundial Regular';
    font-size: 4rem;
    line-height: 5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.h3-m {
    font-family: 'Mundial Demibold';
    font-size: 2.6rem;
    line-height: 3.2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.h1-xl {
    font-family: 'Mundial Regular';
    font-size: 10rem;
    line-height: 10rem;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .h1-xl {
        font-size: 6rem;
        line-height: 6rem;
        max-width: 600px;
    }

    .h1-m {
        font-size: 3rem;
        line-height: 4rem;
        max-width: 80%;
    }
}

@media (max-width: 1450px) {
    .h1-xl {
        font-size: 8rem;
        line-height: 8rem;
        max-width: 1000px;
    }
}

.m-0 {
    margin: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.color-3B1473 {
    color: #3B1473;
}

.color-FFF {
    color: #FFF;
}



.btn {
    font-family: 'Mundial Regular';
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    height: 60px;
    min-width: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
}

.btn-F69701 {
    background: #F69701;
    width: 180px;
}


.page-id-40 {
    overflow: hidden;
}