body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #313131;
}

.app-container {
    margin: 0;
    padding: 0;
    height: 100%;
}

.section-no-padding-content {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.section-padded-content {
    box-sizing: border-box;
    margin: 0;
    padding: 115px 48px 48px 48px;
    width: 100vw;
    height: 100vh;
}

/* Specific pages */
body.page-template-default {
    background: #F7F7F7!important;
}