@font-face {
    font-family: 'Mundial Regular';
    src: url('../fonts/Fontspring-DEMO-4-mundial-regular-tty.otf');
}

.edge-header {
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 3rem;
    z-index: 1000;
    height: 80px;
    width: 100%;
}

.hidden-opacity {
    opacity: 0 !important;
}

.edge-header .header-logo-container {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* only for landing animation */
.page-template-intro .edge-header .header-logo-container {
    opacity: 0;
}

.edge-header .header-logo-img {
    height: 120px;
    width: 65.85px;
}
.edge-header .header-logo-edge {
    margin-top: 16px;
    text-transform: uppercase;
    font-family: 'Mundial Regular';
    font-size: 24px;
    margin-bottom: 0;
}

.edge-header .header-navigation-links-container {
    display: flex;
    align-items: center;
}

/* only for landing animation */
.page-template-intro .edge-header .header-navigation-links-container {
    opacity: 0;
}

.edge-header .header-navigation-links {
    background: #333;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 24px;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
}

.edge-header .header-navigation-link {
    font-family: 'Mundial Regular';
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    color: #fff;
}

/* PAGE SPECIFIC STYLES */

/* /intro */
.page-template-intro .edge-header .header-navigation-links {
    background: #F69701!important;
    color: #fff;
    transition: background 0.3s;
}
/* / */
.page-template-default .edge-header .header-navigation-links {
    background: #F69701!important;
    color: #fff;
    transition: background 0.3s;
}