body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.intro-fixed-background {
    position: fixed;
    background: #F7F7F7;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn var(--FADE_IN_DURATION) ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.rail-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.marquee-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.rail {
    display: flex;
    align-items: center;
    width: max-content;
    height: 100%;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.move-left {
    animation-name: spinLeft;
    animation-duration: var(--ANIMATION_DURATION);
    animation-delay: var(--ANIMATION_DELAY);
}

.move-right {
    animation-name: spinRight;
    animation-duration: var(--ANIMATION_DURATION);
    animation-delay: var(--ANIMATION_DELAY);
}

@keyframes spinLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes spinRight {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.rail img {
    width: auto;
    height: 100%;
    margin: 0;
}

.rotate-180 {
    transform: rotate(180deg);
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    max-width: 1110px;
    border: 1px solid red;
}

#text-container {
    flex-grow: 1;
    text-align: left;
    padding-left: 20px;
}

#text-container h1 {
    font-size: 160px;
    line-height: 160px;
    text-wrap: nowrap;
}

#logo-container {
    width: 200px;
    min-width: 200px;
    height: 332px;
    background: #eee;
    margin-right: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#header-text {
    font-size: 48px;
    line-height: 1.2;
    margin: 0;
}

.container-visible {
    opacity: 1 !important;
}